@page "/"

<PageTitle>BlazorApp Animate</PageTitle>

<Animate Animation="SlideInRight">
    <h1>Olá, mundo!</h1>

    <p>
        Bem-vindo ao seu novo aplicativo.
    </p>

    <Animate Delay="TimeSpan.FromSeconds(1)" style="font-weight: bold;">
        <p>
            Esse é um exemplo!
        </p>
    </Animate>
</Animate>
