@page "/"

<PageTitle>BlazorAnimate</PageTitle>

<Animate Animation="SlideInRight">
    <h1>Animações</h1>
</Animate>

<p style="@SlideInRight">
    Exemplo simples sem o uso do componente.
</p>

<Animate Animation="FadeInUp" Delay="TimeSpan.FromSeconds(1.0)" style="font-weight: bold;">
    <p>
        Exemplo com o componente.
    </p>
</Animate>

<p style="@FadeInUp.With(delayS: 1.0)">
    Exemplo sem o uso do componente alterando as propriedades.
</p>
