<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="/">

    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="KempDec.BlazorAnimate.Sample.styles.css">
    <link rel="stylesheet" href="_content/KempDec.BlazorAnimate/animations.min.css">

    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>
</body>
</html>
